@import "../../styles/index.scss";

.frequently-asked-questions-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: $color-grey-970;
  padding: 96px 10%;
  align-items: center;
}
