$color-primary: #43a5a1;
$color-primary-hover: #318380;

$color-black: #000000;
$color-white: #ffffff;

$color-grey-110: #151922; //navigation links color, name not specified in figma design
$color-grey-240: #383c43; //Grey / Darkest
$color-grey-240-2: #373b42; //name not specified in figma
$color-grey-730: #b9babd; // Grey / Base
$color-grey-970: #f8f8f8; // FAQ section background
