@import "../../styles/index.scss";

.top-leaked-passwords-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 10% 96px 10%;
  background-color: $color-white;
  gap: 60px;
}
