@import "../../../styles/index.scss";

.leaked-passwords-widget {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 1134px;
    width: 100%;
    align-items: center;
    color: $color-grey-240-2;
    
    @media (max-width: 768px) {
        gap: 30px;
    }
    &__table {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__list {
        width: 100%;
    }
}
